body {
   background-color: #fff;
   height: 6rem;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

main h1 {
    font-weight: bold;
    text-align: center;
}

main h2{
    font-weight: 400;
    font-size: 1.3em;
}

main span{
    font-size: 1.5rem;
    animation: colorChange 5s infinite;
    font-weight: bold;
    }

@keyframes colorChange {
    0% {
      color: rgb(35, 25, 147);
      
    }

    66% {
        color: rgb(0, 106, 255);
      }
    
      100% {
        color: rgb(87, 192, 253);
      }
    33% {
      color: rgb(47, 47, 169);
    }


  }


main button {
    margin-top: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;

    border: none;
}

.login-btn{
    color: #fff;
    background-color: rgb(0, 136, 255);
}

.login-btn:hover{
    background-color: black;
    transition: 0.5s;
}

.signup-btn{
    background-color: rgb(222, 222, 222);
}

.signup-btn:hover{
    background-color: rgb(236, 235, 235);
}
.login-signup{
    display: flex;
    column-gap: 0.8rem;
}

.services-title{
    margin-top: 5%;
}

.services {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.service-div{
    background-color: rgb(207, 225, 240);
    height: 300px;
    width: 300px;
    border-radius: 7px;
    transition: background 0.5s, transform 0.5s
}

.service-div:hover{
    transform: translateY(-10px)
}

.service-div i{
    font-size: 4rem;
    margin-left: 20px;
    margin-top: 20px;
}

.service-title{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 15px;
}

.service-description{
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 15px;
}
