body {
   background-color: #fff;
   height: 6rem;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

main h1 {
    font-weight: bold;
    text-align: center;
}

main h2{
    font-weight: 400;
    font-size: 1.3em;
}

main button {
    margin-top: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: rgb(0, 136, 255);
    border: none;
}

.services-title{
    margin-top: 5%;
}

.services {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.service-div{
    background-color: rgb(43, 144, 226);
    height: 300px;
    width: 300px;
    border-radius: 7px;
    transition: background 0.5s, transform 0.5s
}

.service-div:hover{
    transform: translateY(-10px)
}